body {
    margin: 0;
    overflow: hidden;
}
#cssEditor {
    height: 100vh;
}
.cm-s-default .cm-comment,
.cm-s-default .cm-builtin,
.cm-s-default .cm-number,
.cm-s-default .cm-error,
.cm-s-default .cm-atom {
    color: #000;
}