body {
    margin: 0;
    overflow: hidden;
}
#cssEditor {
    height: 100vh;
}
#mdEditor {
    height: 45vh;
    border: 1px solid;
    margin: .5em 1em;
}
.cm-header {
    font-weight: normal;
}
#mdHTML {
    height: 45vh;
    margin: .5em 1em;
    overflow: auto;
}
.markdown-body h1 {
    border: none;
}
.markdown-body blockquote {
    color: #000;
    border: none;
}
.markdown-body pre {
    background: none;
}
